body {
  margin: 0;
  background-color: #BEC6A0;
}
h1 {
  color: blue;
}

.introduction {
    color: #BEC6A0;
    font-size: 30px;
    background-color: #606676;
    padding: 5%;
}
.languages {
    h2 {
            color: #606676;
        }
    color: #BEC6A0;
    font-size: 30px;
    background-color: #708871;
    padding: 5%;
}
.example-projects {
    color: #BEC6A0;
    font-size: 30px;
    background-color: #606676;
    padding: 5%;
}
.footer {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 5%;
}